cat > .gitignore << 'EOF'
# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Streamlit cache
.streamlit/

# OS/editor
.DS_Store
.vscode/
.idea/

# Jupyter checkpoints
.ipynb_checkpoints/
EOF

# Track only samples
!data/samples/
!data/samples/*.csv

# allow these specific raw files for Streamlit Cloud
!data/raw/
!data/raw/koi_cumulative.csv
!data/raw/k2pandc.csv
!data/raw/toi.csv
